{% extends "base.html" %}
{% block title %}VaxPro - Employee Portal{% endblock %}

{% block content %}
    <a href="{{ url_for('logout_employer') }}">Logout</a>
    <form name="employee-registration-form" action="{{ url_for('register_employee') }}" method='post'>
        <input name="name" type="text" required placeholder="Name">
        <input name="employee_id" type="text" required placeholder="employee_id">
        <input name ="email-address" type="email" required placeholder="Email">
        <input name ="phone-number" type="text" required placeholder="Phone">
        <input type="submit" />
    </div>
    <div id="employee-portal">
        <p>Employee Name</p><p>Employee_id</p><p>Employee Email</p><p>Employee Phone Number</p><p>Update Vaccine Record</p><p>Email Vaccine Certificate</p>
        {% for employee in employees %}
            <p>{{employee.name}}</p>employee.employee_id<p>{{employee.email}}</p><p>{{employee.phone_number}}</p><a href="{{ url_for('vaccine_record', employee_id=employee.id) }}">Update Vaccine Record</a>
        {% endfor %}
    </div>
{% endblock %}